<legend>New Post</legend>
<!-- <form class="" action="/" method="post">
    <label for="title">Title</label>
    <input type="text" id="title">
    <label for="body">Body</label>
    <input type="text" id="body">
    <input type="submit" name="name" value="">
</form> -->

<%= form_for(@post) do |p| %>
    <%= p.label :title %>
    <%= p.text_field :title %>
    <%= p.label :body %>
    <%= p.text_field :body %>
    <%= submit_tag("Submit") %>
<% end %>
